@media (prefers-color-scheme: dark) {
    body {
      background-color: #31242e;
      color: white;
    }
  
    .navbar{background-color: #241b22;}
    .navbar #mobile-title{color:white}
    .card, .card-friend, .card-proj{background-color: #3a2b37;}
    .card a, .card-friend a, .card-proj a{color:white}
    .sidebar{background-color: #3a2b37}
    .sidebar hr{color:white}
  }

@media (prefers-color-scheme: light) {
  body{
    background-color: #fff6ff;
    color: black
  }

  .navbar{background-color: #f2dcec;}
  .navbar #mobile-title{color:black}
  .card, .card-friend, .card-proj{background-color: #ffe7f3;}
  .card a, .card-friend a, .card-proj a {color: black}
  .sidebar{background-color: white;}
  .sidebar hr{color: black}
}