@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');
body {
  padding: 0;
  padding-bottom: 130px;
  margin: auto;
  font-family: sans-serif;
  background-color:rgb(255, 228, 242);
  font-family: 'Fresca', sans-serif;
  padding-bottom: 80px;
}

.navbar{
  position: fixed;
  top: unset;
  bottom: 0;

  height: 80px;
  width: 100%;

  padding: 0;
  text-align: center;

  background-color: rgb(255, 172, 213);
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.219)
}

.navbar #mobile-title{
  display: inline;
  position: absolute;
  font-size: 25px;
  color: black;

  left:0;
  right:0;
}

.navbar #avatar {
  width:60px;
  border-radius: 50%;
  margin: 11%;
}

.navbar a {
  position:absolute;
  width:60px;
  border-radius: 50%;
  left: 8px;
  bottom: -2px;
}

.sidebar{display: none;}

.container {
  padding-left: 0;
  text-align: center;
}

.container li{
  display: inline-block;
  padding: 2px;
}

.card, .card-friend, .card-proj{
  width: 30vw;min-width: 97.6px;
  height: 30vw;min-height: 97.6px;

  text-align: center;

  overflow: hidden;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(255, 250, 250);
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.220);

}

.card img , .card-friend img, .card-proj img{
  width: 8vw;
  height: 8vw;

  border-radius: 50%;
  box-shadow: 0 4px 8vw 0 rgba(0, 0, 0, 0.220);

}

.card a ,  .card-friend a, .card-proj a {
  text-decoration: none;
  color: rgb(0, 0, 0)

}

.card-proj img {width: 40%;height: 40%;margin-top: 4vw}
.card-proj p{font-size: 70%;}

.card #descrizione{display: none;}
.card img{width: 40%;height: 40%;margin-top:4vw}
.card #linguaggio {
  margin-top:12px;
  font-size: 90%;
  text-align: center;
  
}

.card-friend img {
  margin-top: 13%;
  width: 50%;
  height: 50%;
}

.card-friend p{
  font-size: 70%;
  margin-top: 10%;
}
