@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin: auto;
  font-family: 'Fresca', sans-serif;
  padding-bottom: 80px;
}

.navbar {
  position: fixed;
  left: 0;
  top : 0;
  height: 100vh;
  width: 80px;
  padding: 0;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.219)

}

.navbar #mobile-title{display: none;}

.navbar #avatar {
  width:60px;
  border-radius: 50%;
  margin: 11%;

}

.sidebar{
  position: fixed;
  right: 18px;
  
  height: 96%;
  width: 300px;

  text-align: center;

  border-radius: 10px;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.220);
}

.sidebar h1{text-align: center!important;padding-left :0!important;}
.sidebar hr{
  width: 90%;
}

.center {
  margin-left : 80px;
  margin-right: 310px;
}

.container {
  padding-left: 0;
  text-align: center;
}

.container li{
  display: inline-block;
  padding:10px
  
}

.center h1{
  padding-left: 30px;
  text-align: left;
  font-size: 200%;
  text-shadow: 0 0 19px rgba(0, 0, 0, 0.220);

}

.card, .card-friend, .card-proj{
  width: 300px;
  height: 300px;
  padding:0;margin: 0;

  text-align: center;

  overflow: hidden;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.220);

}

.card a ,  .card-friend a, .card-friend a, .card-proj a{
  text-decoration: none;

}

.card img , .card-friend img, .card-proj img{
  margin-top: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.220);

}

.card-proj{height: 200px;text-align: center;}
.card-friend{text-align: center;}

.card p{padding-left:10px;padding-right: 10px;}

.card #linguaggio {
  position: relative;
  left: calc(-20px);
  margin-top:12px;
  font-size: 40px;
  text-align: center;
  
}
.card img {
  float:left;
  position: relative;
  left: 10px;
  width: 50px;
  height: 50px;
}

.card-friend img {
  margin-top: 25%;
}

@media (max-width: 1060px){
  .card, .card-friend{
    width: 25vw;
    height: 25vw;
    font-size: 100%;

  }

  .card img , .card-friend img{
    margin-top: 10px;
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
  
  }

  .card img {
    float:left;
    position: relative;
    left: 10px;
    width: 5vw;
    height: 5vw;
  }

  .container li{padding: 5px;}
}

@media(max-width: 1018px){
  .center{text-align: center; margin-right: 0;}
  .card-proj{width:39vw;}
  .sidebar{
    position:static;
    height: 300px;
    width:615px;
    display:inline-block;
    margin-top: 10px;
  }
  
  @media (max-width: 1000px){
    .card img{display: none;}

    .card #linguaggio {
      position: relative;
      left: unset;
      margin-top:12px;
      font-size: 30px;
      text-align: center;
    
  }

  .card p{font-size: 85%;text-align: center;}

  }
    
  @media (max-width: 750px){
    .sidebar{display: none;}
    .center{margin-right: 0;}
    .card img{display: none;}
  }

  @media(max-width: 712px) {
    .sidebar{width:94%;}
    .card, .card-friend, .card-proj{width: 40vw;}
  }

}